.App {
  text-align: center;
  background-color: var(--color-background-primery);
  color: var(--color-primery);
  height: 100%;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
